
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Test files
src/Command/TestCommand.php
src/Controller/TestController.php
src/Test.php

# `Sublime Text` editor excludes
*.sublime-workspace

# Personal files
todo.txt

# PHP Coding Standards (CS) Fixer
.php_cs.cache
